{% extends 'base.html' %}
{% block title %} | Dashboard{% endblock %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Profil</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Početna</a></li>
                <li class="active">{{user.username}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	{% include 'includes/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Dobrodošao <span>{{user.username}}</span></h1>
            <p>Evo ih autobili za koje ste zainteresovani</p>
        </div>
	{% if inquiries %}
		<table class="table table-hover">
		<thead>
			<tr>
			<th scope="col">#</th>
			<th scope="col">Naziv</th>
			<th scope="col">Mesto</th>
			<th scope="col">Akcija</th>
			</tr>
		</thead>
		<tbody>
			{% for inqury in inquiries %}
			<tr>
			<th scope="row">1</th>
			<td>{{inqury.car_title}}</td>
			<td>{{inqury.city}}</td>
			<td><a href="{% url 'cars_detail' inqury.car_id %}" class="btn btn-outline-dark">Pogledaj vozilo</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	{% else %}
		<h4>Jos niste bili zainteresovani ni za jedan automobil.</h4>
		<br><br> <br><br>
		<br><br> <br><br>
	{% endif %}
</div>

<!--   Dashboard End   -->

{% endblock %}