{% extends 'base.html'%}
{% block title %} | Contact{% endblock %}
{% block content %}
{% load bootstrap_icons %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Kontaktirajte nas</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Početna</a></li>
                <li class="active">Kontaktirajte nas</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Kontaktirajte <span>nas</span></h1>
            <p>Ako imate pitanja, budite sigurni da ćete odgovor dobiti brzo.</p>
        </div>
        <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/messages.html'%}
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <div class="form-group name">
                                <input type="text" name="name" class="form-control" placeholder="Ime i Prezime" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group email">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group subject">
                                <input type="text" name="subject" class="form-control" placeholder="Naslov" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group number">
                                <input type="text" name="phone" class="form-control" placeholder="Broj telefona">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group message">
                                <textarea class="form-control" name="message" placeholder="Poruka..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send-btn text-center">
                                <button type="submit" class="btn btn-md button-theme">Pošalji poruku</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info-2">
                        <div class="ci-box">
                            <div class="icon">
                                <i {% bs_icon 'telephone-fill' size='1em'%}</i>
                            </div>
                            <div class="detail">
                                <h5>Telefon:</h5>
                                <p><a href="#">066-433-070</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i {% bs_icon 'envelope' size='1em'%}</i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a href="#">mmautomobili@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

{% endblock %}